<app-categories-form></app-categories-form>
<div class="row" *ngFor = "let item of categoriesService.categories"> 
    <div  class="col-md-10">
        {{item.name}}
    </div>
    <div  class="col-md-2">
        <a class="btn btn-light margin-into-icons btn-sm" (click)="selecciona(item)">
            <i class="material-icons icon-edit">
                edit
            </i>
        </a>  
        <a class="btn btn-light btn-sm" (click)="delete(item)">
            <i class="material-icons icon-delete">
                delete
            </i>
        </a>
    </div>
    <div class="col-md-10"><hr></div>
</div>