<app-categories-form (pageNext)='pageNexts($event)'></app-categories-form>
<div class="btn btn-sm btn-primary" (click)="ExportExcel()">Exportar</div>
<div *ngIf="categoriesService.getTotalReg() >0">
    <div class="row" *ngFor = "let item of categoriesService.categories"> 
        <div  class="col-md-10">
            {{item.name}} 
        </div>
        <div  class="col-md-2">
            <a class="btn btn-light margin-into-icons btn-sm" (click)="selecciona(item)">
                <i class="material-icons icon-edit">
                    edit
                </i>
            </a>  
            <a class="btn btn-light btn-sm" (click)="delete(item)">
                <i class="material-icons icon-delete">
                    delete
                </i>
            </a>
        </div>
        <div class="col-md-10"><hr></div>
    </div>
</div>
<div *ngIf="categoriesService.getTotalReg() == 0">
    No hay resgitro a mostrar ...
</div>
<table id="tableData" name="tableData">
    <thead>
        <tr>
            <td s="3">Nombre</td>
            <td>codigo</td>
            <td>Monto</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of tableAux">
            <td>{{item.nom}}</td>
            <td class="text-left" t="s">{{item.cod}}</td>
            <td class="text-right" t="n">{{item.mto}}</td>
            <td class="text-right" t="d">{{item.dte}}</td>
        </tr>
    </tbody>
</table>
<!-- Formulario -->
<app-paginations 
    [cantReg]="categoriesService.categories"
    [limit] = "pagination.limit"
    [tReg] = "paginationService.getTotalReg()"
    (pageNext)="goNextPage($event)"
    (pagePrevius) = "goPreviusPage($event)"
    (page)="goPages($event)">
</app-paginations>