<!-- main app container -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row" style="margin-top:20px">    
        <div class="form-group col-md-10" >
            <input type="hidden" formControlName="_id" class="form-control" />
            <label >Nombre de la categoría</label> <b [ngStyle]="{'color': color,  'font-weight': 'bold'}">{{state}}</b>
            <input type="text" (onchange)="changeInput()" formControlName="categoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" />
            <div *ngIf="submitted && f.categoryName.errors && !errorManual" class="invalid-feedback">
                <div *ngIf="f.categoryName.errors.required" >
                    <div class="alert alert-danger" role="alert">
                        Requiere el nombre de la categoría
                    </div>    
                </div>
            </div>
            <div *ngIf="errorManual == true" class="invalid-feedback">
                    <div class="alert alert-danger" role="alert">Requiere el nombre de la categoría</div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-light" type='button' data-toggle="tooltip" data-placement="top" title="Consular información" (click)="search()">   
                <i class="material-icons">      
                    search
                </i>
            </button>
            <button class="btn btn-primary" type='button' (click)="reset()" data-toggle="tooltip" data-placement="top" title="Nuevo registro">   
                <i class="material-icons">      
                    add_circle
                </i>
            </button>
            <button class="btn btn-success">
                <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Guardar información">      
                    save
                </i>
            </button>
            <button class="btn btn-info" type='button' data-toggle="tooltip" (click)="reset()" data-placement="top" title="Resetear Formulario">   
                <i class="material-icons">      
                    clear
                </i>
            </button>
        </div>
    </div>
</form>