<!-- main app container -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row" style="margin-top:20px">    
        <div class="form-group col-md-10" >
            <input type="hidden" formControlName="_id" class="form-control" />
            <label >Nombre de la categoría</label>
            <input type="text" formControlName="categoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" />
            <div *ngIf="submitted && f.categoryName.errors && !errorManual" class="invalid-feedback">
                <div *ngIf="f.categoryName.errors.required">Requiere el nombre de la categoría</div>
            </div>
            <div *ngIf="submitted && errorManual" class="invalid-feedback">
                <div>Requiere el nombre de la categoría</div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-light" type='button' data-toggle="tooltip" data-placement="top" title="Consular información" (click)="search()">   
                <i class="material-icons">      
                    search
                </i>
            </button>
            <button class="btn btn-primary" type='button' data-toggle="tooltip" data-placement="top" title="Nuevo registro">   
                <i class="material-icons">      
                    add_circle
                </i>
            </button>
            <button class="btn btn-success">
                <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Guardar información">      
                    save
                </i>
            </button>
        </div>
    </div>
</form>